.content-register {
    position: absolute;
    padding: 0px;
    width: 676px;
    height: 669px;
    left: 50%;
    transform: translate(-50%);
    right: 40%;
    top: 200px;
    bottom: 20%;
    align-items: center;
    justify-content: center;
    background: #272727;
    box-shadow: -10px -10px 20px rgba(134, 134, 134, 0.25), 10px 10px 20px #1B1B1B;
    border-radius: 8px;
}

.registerForm {
    align-content: center;
    width: 100%;
    margin: 58px;
}

.registerForm input{
    background: #272727;
    box-shadow: inset -6px -6px 10px rgba(133, 133, 133, 0.13), inset 6px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: var(--tone-two);
    border: none;
    padding: 1.2rem;
}

.halfInput {
    border: none;
    width: 270px;
    height: 51px;
    margin-right: 13px;
    margin-bottom: 12px;
}

.fullInput {
    border: none;
    width: 555px;
    height: 51px;
    margin-bottom: 12px;
}

.registerButton {
    position: absolute;
    margin-top: 33px;
    left: 50%;
    transform: translate(-50%);
    width: 399px;
    height: 43px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #C8B936;
    background: #272727;
    box-shadow: -6px -6px 13px rgba(160, 160, 160, 0.25), 6px 6px 13px #161616;
    border-radius: 6px;
    border: none;
}

.register-header {
    padding-left: 158px;
    margin-top: 5%;
}

.register-header p:nth-child(1) {
    font-size: 12px;
    color: var(--tone-two);
}

.register-header p:nth-child(2) {
    font-size: 40px;
    color: #C8B936;
}

.register-header p:nth-child(3) {
    font-size: 12px;
    color: var(--tone-two);
}

.register-header p:nth-child(3) a{
    font-size: 12px;
    color: var(--tone-two);
}

/* form p{
    font-size: 10px;
    color: #C8B936;
} */

/* #male {
    margin-left: 2rem;
}

#gender {
    margin-left: 2rem;
} */

.content-register label {
    color: var(--tone-four);
    padding: 0.5rem;
}
