.createTask-container {
    position: absolute;
    width: 1451.68px;
    height: 216.75px;
    left: 401.79px;
    top: 115.98px;
    display: flex;
    flex-direction: column;
    background: #272727;
    box-shadow: -6px -6px 13px rgba(160, 160, 160, 0.25), 6px 6px 13px #161616;
    border-radius: 17px;
}

.title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #C8B936;
    margin-top: 21px;
    margin-bottom: 11px;
}

.form{
    display: flex;
    margin-left: 45px;
}

.form input {
    padding: 32px;
    width: 433.71px;
    height: 55.78px;
    background: #272727;
    box-shadow: inset -6px -6px 10px rgba(133, 133, 133, 0.13), inset 6px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    border:  none;
    margin-right: 30px;
    color: #C8B936;
}

.form button {
    width: 433.71px;
    height: 37.03px;
    background: #272727;
    box-shadow: -3px -3px 13px rgba(160, 160, 160, 0.25), 3px 3px 13px #161616;
    border-radius: 7px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #C8B936;
}

.body {
    margin-bottom: 25px;
}

.form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

